.section-misc {
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  background-color: #242526;
}
.section-misc .wrapper {
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px; /* TODO: debug this */
}
.section-misc .line {
  margin-top: 20px;
  color: white;
  text-align: center;
}
.section-misc .notification {
  height: 50px;
  text-align: center;
  color: white;
}
.section-misc .notification .title {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}
.section-misc .notification .consent {
  font-size: 12px;
}
.section-misc .team-info {
  color: white;
  line-height: 1.5;
  text-align: center;
}
.section-misc .team-info .title {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}
.section-misc .team-info .section-team-member {
  font-size: 12px;
}
.section-misc .team-info .team-member {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block; 
}
.section-misc .partner-info {
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.section-misc .partner-info .title {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}
.section-misc .partner-info .name {
  font-size: 12px;
}

@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@media screen and (max-width:1380px) {
	.section-misc {
		/* margin-top: 80px; */
	}
	.section-misc .wrapper {
		min-width: 480px;
	}
	.section-misc .text-title {
		/* font-size: 55px; */
	}
	.section-misc .title {
		/* font-size: 25px; */
	}
	.section-misc .para {
		margin-top: 30px;
		font-size: 20px;
	}
}
@media screen and (max-width: 980px) {
	.section-misc {
		/* margin-top: 60px; */
	}
}
@media screen and (max-width:768px) {
	.section-misc {
		/* margin-top: 80px; */
		/* padding: 5vh 20px; */
	}
	.section-misc .inner {
		display: block;
	}
	.section-misc .wrapper {
		min-width: auto;
	}
	.section-misc .text-title {
		font-size: 36px;
	}
	.section-misc .title {
		/* margin-top: 30px; */
	}
	#about {
		margin: 0 auto;
	}
	#resume {
		margin: 0 auto;
		/* margin-top: 10px; */
	}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .section-misc .wrapper {
    color: #f1f2f3;
    width: 95vw;
  }
  .section-misc .notification {
    text-align: left;
  }
  .section-misc .notification .title {
    font-size: 17px;
  }
  .section-misc .team-info {
    text-align: left;
  }
  .section-misc .team-info .title {
    font-size: 17px;
    font-weight: bold;
  }
  .section-misc .team-info .section-team-member {
    font-size: 15px;
  }
  .section-misc .partner-info {
    text-align: left;
  }
  .section-misc .partner-info .title {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 10px;
  }
  .section-misc .partner-info .name {
    font-size: 15px;
  }
  .section-misc .line { 
    text-align: left;
    font-weight: bold;
    font-size: 27px;
    margin-top: 10px;
  }
  .section-misc .team-info .team-member {
    padding-left: 0;
    padding-right: 20px;
    display: inline-block; 
  }
}