.section-misc {
	padding-top: 20px;
    position: relative;
    margin-top: 50px;
	background-color: #242526;
}
.section-misc .inner {
}
.section-misc .poster-image {
	width: 100vw;
}
.section-misc .notification {
	height: 50px;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	font-size: 13px;
	text-align: left;
	color: white;
}
.section-misc .team-info {
	font-weight: 300;
	color: white;
	margin-top: 50px;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
}
.section-misc .partner-info {
	font-weight: 300;
	color: white;
	margin-top: 50px;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
}
.section-misc .miscstream {
	width: 80vw;
}
.section-misc .wrapper-links > * {
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	color: #c1c2c3;
	padding: 20px 30px;
	border: 2px solid #c1c2c3;
	margin-right: 20px;
	border-radius: 16px;
	text-align: center;
	transition: 0.3s ease-out;
}
#resume {
	margin-right: 0;
}

@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@media screen and (max-width:1380px) {
	.section-misc {
		/* margin-top: 80px; */
	}
	.section-misc .wrapper {
		min-width: 480px;
	}
	.section-misc .text-title {
		/* font-size: 55px; */
	}
	.section-misc .title {
		/* font-size: 25px; */
	}
	.section-misc .para {
		margin-top: 30px;
		font-size: 20px;
	}
	.section-misc .wrapper-links > * {
		font-size: 20px;
	}
}
@media screen and (max-width: 980px) {
	.section-misc {
		/* margin-top: 60px; */
	}
}
@media screen and (max-width:768px) {
	.section-misc {
		/* margin-top: 80px; */
		/* padding: 5vh 20px; */
	}
	.section-misc .inner {
		display: block;
	}
	.section-misc .wrapper {
		min-width: auto;
	}
	.section-misc .text-title {
		font-size: 36px;
	}
	.section-misc .title {
		/* margin-top: 30px; */
	}
	.section-misc .social-links {
		width: fit-content;
		margin: 0 auto;
	}
	.section-misc .wrapper-links > * {
		max-width: 70%;
		display: block;
		padding: 20px 0;
		font-size: 18px;
		background-color: #242526;
	}
	#about {
		margin: 0 auto;
	}
	#resume {
		margin: 0 auto;
		margin-top: 10px;
	}
}