@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body, table, div, p{ font-family: 'Nanum Gothic'; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  background-color: white;
  /* background-color: aquamarine; */
}
header .wrapper {
  position: relative;
  height: 100%;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
}
header .title-text {
  font-size: 18px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  color: black;
}
header .title-text a {
	text-decoration: none;
}
header .title-date {
	font-size: 16px;
	float: left;
  display: flex;
	margin-left: 10px;
  margin-top: 1px;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: black;
}
header .nav-button {
	font-size: 16px;
	float: left;
  display: flex;
  margin-left: 9px;
  margin-right: 7px;
  margin-top: 1px;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: black;
}
header .nav-button-bold {
	font-size: 16px;
	float: left;
  display: flex;
  margin-left: 9px;
  margin-right: 7px;
  margin-top: 1px;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: black;
  font-weight: bold;
}
header .language {
	font-size: 14px;
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
  margin-left: 2px;
}
header .bold {
  font-weight: bold;
}
header .icon {
	font-size: 32px;
	text-decoration: none;
	color: #c1c2c3;
	display: none;
}
header .language a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}
.btn-lang-image {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1380px) {
	header {
		/* height: 80px */
	}
	header .title-text {
		/* margin-left: 20px; */
		/* font-size: 32px; */
		/* padding: 24px 0; */
	}
}
@media screen and (max-width: 980px) {
	header {
		/* height: 60px */
	}
	header .title-text {
		/* font-size: 20px; */
		/* padding: 20px 0; */
	}
}
@media screen and (max-width: 768px) {
	header {
		/* padding: 0; */
		/* height: 80px; */
	}
	header .title-text {
		/* margin-left: 20px; */
		/* font-size: 32px; */
		/* padding: 24px 0; */
	}
	header .icon {
		display: block;
		float: right;
		margin-right: 20px;
	}
	header .icon a {
		padding: 24px 0;
	}
	header .nav-menu li a {
		font-size: 22px;
	}
	header .menu-icon {
		display: block;
	}
}
@media screen and (max-width: 768px) {
	header .nav-menu.responsive {
		display: block;
		float: none;
		height: fit-content;
		background-color: #242526;
		margin-right: 0 !important;
	}
	header .nav-menu.responsive li {
		display: block;
		clear: both;
	}
	header .nav-menu.responsive li:last-child {
		padding-bottom: 20px;
	}
  header .menu-btn .btn-menu-image {
    float: left;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  header .wrapper {
    width: 95vw;
  }
  header .title-date {
    margin-top: 0;
  }
  header .title-text {
    font-size: 17px;
    float: left;
  }
  .btn-lang-image {
    margin-right: 5px;
    float: right;
  }
  header .language {
    font-size: 18px;
    float: right;
    height: 100%;
    display: flex;
  }
  .menu-button {
    float:left;
    margin-top: 11px;
    margin-right: 15px;
  }
  .btn-menu-image {
    width: 22px;
    height: 20px;
  }

  /* menu */
  #bg {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 500;
  }
  #flyoutMenu {
    width: 65vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
  
  #flyoutMenu.hide {
    transform: translate3d(-67.63vw, 0, 0);
  }
  
  #flyoutMenu.show {
    transform: translate3d(-2.63vw, 0, 0);
    overflow: hidden;
  }
  
  #flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }

  #flyoutMenu h2 a:hover {
    text-decoration: underline;
  }

  .menu-list-button {
    width: 65vw;
    height: 51px;
    padding-left: 10px;
    padding-top: 12px;
    border-bottom: 1px solid black;
    font-size: 16px;
  }
  .menu-list-button-top{
    width: 65vw;
    height: 51px;
    padding-left: 10px;
    padding-top: 12px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 16px;
  }
  .menu-list-sub {
    width: 65vw;
    height: 51px;
    padding-left: 40px;
    padding-top: 14px;
    font-size: 16px;
  }
  .btn-close-image {
    float: right;
    margin-right: 10px;
    width: 28px;
    height: 28px;
  }
  .menu-list-title {
    float: left;
  }
  .menu-list-date {
    float: right;
    margin-right: 10px
  }
  .bold {
    font-weight: bold;
  }
  .language-mobile {
  	font-size: 16px;
  	float: left;
  	height: 100%;
  	display: flex;
  	color: black;
    margin-top: 1px;
    margin-right: 2px;
  }
}
