@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body, table, div, p{ font-family: 'Nanum Gothic'; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  background-color: white;
  /* background-color: aquamarine; */
}
header .wrapper {
  position: relative;
  height: 100%;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
}
header .title-text {
	font-size: 18px;
	float: left;
  display: flex;
	align-items: center;
	justify-content: center;
  font-weight: bold;
	height: 100%;
	color: black;
}
header .title-text a {
	text-decoration: none;
}
header .title-date {
	font-size: 16px;
	float: left;
  display: flex;
	margin-left: 10px;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: black;
}
header .language {
	font-size: 18px;
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}
header .icon {
	font-size: 32px;
	text-decoration: none;
	color: #c1c2c3;
	display: none;
}
header .language a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 1380px) {
	header {
		/* height: 80px */
	}
	header .title-text {
		/* margin-left: 20px; */
		/* font-size: 32px; */
		/* padding: 24px 0; */
	}
}
@media screen and (max-width: 980px) {
	header {
		/* height: 60px */
	}
	header .title-text {
		/* font-size: 20px; */
		/* padding: 20px 0; */
	}
}
@media screen and (max-width: 768px) {
	header {
		/* padding: 0; */
		/* height: 80px; */
	}
	header .title-text {
		/* margin-left: 20px; */
		/* font-size: 32px; */
		/* padding: 24px 0; */
	}
	header .icon {
		display: block;
		float: right;
		margin-right: 20px;
	}
	header .icon a {
		padding: 24px 0;
	}
	header .nav-menu li a {
		font-size: 22px;
	}
	header .menu-icon {
		display: block;
	}
}
@media screen and (max-width: 768px) {
	header .nav-menu.responsive {
		display: block;
		float: none;
		height: fit-content;
		background-color: #242526;
		margin-right: 0 !important;
	}
	header .nav-menu.responsive li {
		display: block;
		clear: both;
	}
	header .nav-menu.responsive li:last-child {
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 300px) {
	header {
		/* padding: 0; */
		/* height: 60px; */
	}
	header .title-text {
		/* margin-left: 10px; */
		/* font-size: 30px; */
		/* padding: 15px 0; */
	}
	header .icon {
		margin-right: 10px;
		font-size: 30px;
		align-self: center;
	}
	header .icon a {
		padding: 17px 0;
	}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  header .wrapper {
    width: 95vw;
  }
}