.seq-wrapper {
  width: 80vw;
  clear: both;
  background-color: #242526;
}
.img-wrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
}
.sliderimg {
	width: 80vw;
}
.img-overlay {
  width: 100%;
  position: absolute;
  top: 4%;
  left: 3%;
  color: white;
  font-size: 12px;
}
.img-overlay-button {
  float: left;
  padding-right: 5px;
}
.selected {
  font-weight: 600;
}
.btn-left {
  position: absolute;
  top: 48%;
  left: 20px;
  width: 2%;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.btn-right {
  position: absolute;
  top: 48%;
  right: 20px;
  width: 2%;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .img-wrapper {
    width: 95vw;
  }
  .sliderimg {
  	width: 100vw;
    margin-left: -2.4vw;
  }
}