.section-intro {
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-intro .wrapper {
	color: #f1f2f3;
	width: 80vw;
}
.section-intro .poster-image {
	width: 80vw;
}
.section-intro .title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  color: black;
}
.section-intro .para {
  font-size: 15px;
  color: black;
  line-height: 1.7;
  text-align: left;
}
.section-intro .line { 
  margin-top: 20px;
  color: black;
}
.section-intro .artist-info {
  font-size: 15px;
  line-height: 1.3;
  color: black;
  text-align: left;
}
.section-intro .artist-info .bold {
  font-weight: bold;
}
a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}
.section-intro .social-links {
	margin-top: 50px;
}
#resume {
	margin-right: 0;
}

@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@media screen and (max-width:1380px) {
	.section-intro {
		/* margin-top: 80px; */
	}
	.section-intro .wrapper {
		min-width: 480px;
	}
	.section-intro .title {
		/* font-size: 25px; */
	}
	.section-intro .para {
		/* margin-top: 30px; */
		/* font-size: 20px; */
	}
}
@media screen and (max-width: 980px) {
	.section-intro {
		/* margin-top: 60px; */
	}
}
@media screen and (max-width:768px) {
	.section-intro {
		/* margin-top: 80px; */
		/* padding: 5vh 20px; */
	}
	.section-intro .inner {
		display: block;
	}
	.section-intro .wrapper {
		min-width: auto;
	}
	.section-intro .title {
		/* margin-top: 30px; */
	}
	.section-intro .social-links {
		width: fit-content;
		margin: 0 auto;
	}
	#about {
		margin: 0 auto;
	}
	#resume {
		margin: 0 auto;
		margin-top: 10px;
	}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .section-intro .wrapper {
    color: #f1f2f3;
    width: 95vw;
  }
  .section-intro .title {
    font-size: 17px;
  }
  .section-intro .para {
    font-size: 17px;
    line-height: 1.9;
  }
  .section-intro .line { 
    font-size: 27px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
  }
  .section-intro .artist-info {
    font-size: 17px;
    line-height: 1.9;
  }
  .section-intro .poster-image {
  	width: 100vw;
    margin-left: -2.5vw;
  }
}