.section-intro {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	/* width: 80vw; */
	text-align: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-intro .wrapper {
	color: #f1f2f3;
	width: 80vw;
}
.section-intro .poster-image {
	width: 80vw;
}
.section-intro .title {
  font-weight: 500;
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  color: black;
}
.section-intro .para {
  font-weight: 300;
  color: black;
  /* margin-top: 50px; */
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
}
.section-intro .line { 
  margin-top: 20px;
  color: black;
}
.section-intro .artist-info {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  color: black;
  text-align: left;
}
.section-intro .artist-info .bold {
  font-weight: 500;
}
.section-intro .social-links {
	margin-top: 50px;
}
#resume {
	margin-right: 0;
}

@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@media screen and (max-width:1380px) {
	.section-intro {
		/* margin-top: 80px; */
	}
	.section-intro .wrapper {
		min-width: 480px;
	}
	.section-intro .title {
		/* font-size: 25px; */
	}
	.section-intro .para {
		/* margin-top: 30px; */
		/* font-size: 20px; */
	}
}
@media screen and (max-width: 980px) {
	.section-intro {
		/* margin-top: 60px; */
	}
}
@media screen and (max-width:768px) {
	.section-intro {
		/* margin-top: 80px; */
		/* padding: 5vh 20px; */
	}
	.section-intro .inner {
		display: block;
	}
	.section-intro .wrapper {
		min-width: auto;
	}
	.section-intro .title {
		/* margin-top: 30px; */
	}
	.section-intro .social-links {
		width: fit-content;
		margin: 0 auto;
	}
	#about {
		margin: 0 auto;
	}
	#resume {
		margin: 0 auto;
		margin-top: 10px;
	}
}