.section-live {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #242526;
  overflow-y: scroll;
}
.section-live .wrapper {
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
}
.section-live .title {
  display: flex;
  float: left;
  height: 50px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: white;
}
.section-live .before-title {
  display: flex;
  float: left;
  height: 50px;
  align-items: center;
  font-size: 18px;
  text-align: left;
  margin-right: 3px;
  color: white;
}
.section-live .title-date {
  display: flex;
  float: left;
  height: 50px;
  align-items: center;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  margin-top: 1px;
  color: white;
}
.section-live .btn {
	float: right;
  display: flex;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn .btn-insta-image {
  width: 40px;
  height: 40px;
}
.btn .btn-fb-image {
  width: 18px;
  height: 28px;
  margin-top: 5px;
  margin-left: 3px;
}
.btn .btn-map-image {
  width: 32px;
  height: 32px;
  margin-top: 3px;
}

.section-live .para {
  font-size: 15px;
  color: white;
  line-height: 1.7;
  text-align: left;
}
.section-live .small {
  font-size: 12px;
  color: white;
  margin-top: 17px;
  line-height: 1.7;
  text-align: left;
}
.section-live .line {
  margin-top: 20px;
  color: white;
  text-align: center;
}
.section-live .livestream {
	width: 80vw;
}
.livestream .spinner-container {
  width: 80vw;
  height: 47vw;
  background-color: black;
  text-align: center;
}
.livestream .spinner-container .spinner {
  transform: translateY(+19vw);
}
.livestream .countdown {
  width: 80vw;
  height: 47vw;
  background-color: black;
  color: white;
  float: left;
}
.livestream .countdown .unit {
  font-size: 1.1vw;
  color: #999999;
}
.livestream .countdown .unit .days{
  display: inline-block;
  transform: translateX(+25vw) translateY(+17vw);
}
.livestream .countdown .unit .hours{
  display: inline-block;
  transform: translateX(+31.5vw) translateY(+17vw);
}
.livestream .countdown .unit .minutes{
  display: inline-block;
  transform: translateX(+37vw) translateY(+17vw);
}
.livestream .countdown .unit .seconds{
  display: inline-block;
  transform: translateX(+41vw) translateY(+17vw);
}
.livestream .countdown .numbers {
  transform: translateX(+22vw) translateY(+16vw);
  width: auto;
  display: inline-block;
  font-size: 6.4vw;
  color: white;
}
.facebook-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.facebook-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .section-live {
    padding-bottom: 0px;
  }
  .section-live .wrapper {
    color: #f1f2f3;
    width: 95vw;
  }
  .section-live .title {
    font-size: 16px;
  }
  .section-live .para {
    font-size: 16px;
  }
  .section-live .line { 
    font-size: 27px;
    text-align: left;
    margin-top: 10px;
  }
  .section-live .livestream {
  	width: 100vw;
    margin-left: -2.5vw;
  }
  .livestream .spinner-container {
    width: 100vw;
    height: 56vw;
    background-color: black;
    text-align: center;
  }
  .livestream .spinner-container .spinner {
    transform: translateY(+18vw);
  }
  .section-live .countdown {
    width: 100vw;
    height: 56vw;
  }
  .livestream .countdown .unit {
    font-size: 2.5vw;
  }
  .livestream .countdown .numbers {
    font-size: 10vw;
    transform: translateX(+21vw) translateY(+16vw);
  }
  .btn-insta-image {
    margin-right: -15px;
    width: 40px;
    height: 40px;
  }
  .btn-fb-image {
    margin-right: -15px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  .btn-map-image {
    margin-right: -15px;
    width: 32px;
    height: 32px;
    margin-top: 3px;
  }
  .section-live .small {
    line-height: 1.7;
  }
}